*{
    padding: 0;
    margin: 0;
}
.barra{
    width: 100%;
    background-image:url("../../img/proyectos/fondo1.jpg");
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    object-fit: cover;
    color: #ffffff;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
}


.navbar{
    align-items: center;

}
.navbar a{
    color: #ffffff;
    display: inline-block;
    justify-content: space-between;
}
.lista{     
    list-style-type: none;
    
}
.lista li{
    display: inline-block;
    padding: 0 40px;
    list-style: none;
}
.lista li a{
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
}
.lista li a:focus{
    border-bottom: 1px solid #ffffff ;
}
.logo-nav{
    width: 55PX;
    height: 50PX;
    margin-right: 10px;

}
ul li:first-child{
    margin-left: 50px;
    margin-right: 100px;
}

.presentacion{
    justify-items: center;
    align-items: center;
    width: 100%;
}

.container-presentacion{
    display: flex;
    flex-direction: column;
    margin: 15% 12%;
}
