*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    scroll-behavior: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    display: block;
}

:root {
    --bg-color: #101131;
    --text-color: #fff;
    --main-color: #ffd700;
    --h1-font: 6rem;
}

main{
    display: flex;
    flex-direction: column;
    gap:  15rem;
}

.container-contacto-plus, .section-testimonios, .section-preguntas, footer{
    padding: 0 12%;
}

.container-contacto-plus{
    background-image: url(../../img/contactenos/bg-header.png);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.container-contacto-plus::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .65;
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 1.5rem 8%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: all .55s ease;


}

.container-logo{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.texto-logo{
    color: var(--text-color);
}

.navbar{
    display: flex;
}

.navbar a{
    display:flex;
    color: var(--text-color);
    font-size: var(--p-font);
    margin-left: 40px;
    transition: all .55s ease;
} 

header a{
    font-family: "Fugaz One";
    text-transform: uppercase;
    font-weight: 500;
}

.h-btn{
    background-color: #795548;
    padding: 10px 15px;
    color: var(--text-color);
    margin-left: 40px;
    border-radius: 8px;
}

.h-btn:hover{
    background-color: #57392e;
}


.logo-img{
    width: 60px;
    height: 60px;
}

button{
    width: 300px;
}



.container-contacto2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    height: 100vh;
    align-items: center;
}

.form{
    margin: auto;       
    padding: auto;
}


.contacto-datos p{
    font-size: 15px;
    color: var(--text-color);
    text-align: left;
}

.container-contacto h3,h2{
    color:var(--text-color);
    padding: 5px;
    font-family: "Fugaz One";
    text-transform: uppercase;
    font-weight: 500;
}

input{
    width: 100%;
    height: 40px;
    padding: 4px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
    border: #101131 1px solid;
}

.input-texto{
    height: 150px;

}

button{
    background-color: #57392e;
    width: 100%;
    height: 30px;
    color: #fff;
    font-weight: 700;
    padding: 1px;
    margin-top: 4px;
    border-radius: 12px;

}

.contacto-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.input-telefono, .input-servicio, .input-email, .input-ruc{
    text-align: center;
}

.input-empresa, .input-info, .btn-send{
    grid-column: span 2;
}




/* TESTIMONIOS */

.section-testimonios{
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;

}

.testimonios-empresas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px;
}


.testimonios-txt{
    align-items: center;
    justify-content: center;
}

.section-testimonios article{
    display: relative; 
    padding: 6% 1%;
    border: 1px solid;
    border-radius: 6px;
    margin: 0 auto; 
    align-items: center;
    text-align: center;
}

.img-testimonios{
    width: 100%;
    margin: auto;
    object-fit: cover;

}

.testimonios-txt h2,p{
    color: black;
    padding: 1% 0;
    justify-content: center;
    text-align: center;
}

.testimonios-txt h2{
    font-size: 35px;
}

.section-testimonios article p,h4{
    text-align: left;
    margin: 10% 0;
}

.section-testimonios h4{
    font-size: 25px;
}


/* PREGUNTAS */



.container-preguntas{
    justify-content: center;
    align-items: center;
}

section.container-preguntas h2,h3,p,i{
    color: black;
}

section.container-preguntas h2{
    text-align: center;
    font-size: 35px;
}   

.container-preguntas h3{
    font-size: 25px;
}


.container-faq{
    display:flex;
    flex-direction: column;
}

.faq-contenido{
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.faq-contenido .faq{
    padding: 0 2%;
}

.faq{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.faq i {
    font-size: 1.4rem;
    
}

/* FOOTER */

.p-footer{
    color: #fff;
}


footer{
    background-color: #795548;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.images{
    display: flex;
}

.images i{
    color: #fff;
    

}


/* FORMATO TABLETA */
@media (max-width:1024px) and (min-width:768px){

    .container-contacto2{
        grid-template-columns: repeat(2, 1fr)
    }


    /* TESTIMONIOS */
    .testimonios-empresas{
        grid-template-columns: repeat(2, 1fr);
    }

}


/* FORMATO CELULAR */

@media (max-width:768px){

    header{
        display:flex;
        flex-direction: column;
        position: relative;
        background-color: black;
        padding: 0 0;

    }

    .container-logo{
        flex-direction: column;
        width: 100%;
        height: 100px;
        background-color: #282825;

    }

    a.logo{
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    

    .logo{
        width: 100%;
    }

    .texto-logo{
        display: none;
    }

    .navbar{
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    .navbar li a{
        margin: 0 0 ;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .navbar li{
        height: 100px;
        background-color: #282825;
        border: 1px solid #1A1A16;
        text-align: center;
        align-items: center;
        
    }


    a.h-btn{
        display: none;
    }
    

    .container-contacto-plus{
        display: flex;
        flex-direction: column;
        padding: 0 0;
        gap: 20px;
        background-image: none;
    }

    .container-contacto-plus::before{
        display: none;

    }

    section.form{
        width: 100%;
    }

    section.form input, button{
        height: 70px;
    }

    .contacto-form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4px;
    }

    .input-telefono, .input-servicio, .input-email, .input-ruc, .input-empresa, .input-info, .btn-send{  
        text-align: center;
        grid-column: 1;
    }

    /* FORMULARIO */
    .contacto-datos{
        display:none
    }

    .container-contacto{
        padding: 0 5%;
    }

    .container-contacto2{
        grid-template-columns: repeat(1, 1fr)
    }


    /* TESTIMONIOS */
    .testimonios-empresas{
        grid-template-columns: repeat(1, 1fr);
    }

    .section-testimonios {
        padding: 0 5%;
    }
    .testimonios-empresas img{
        width: 60%;
    }

    /* PREGUNTAS */

    .section-preguntas{
        padding: 0 5%;
    }
    .container-faq{
        padding: 0;
    }

}